.div {
  display: block;
  margin-top: 10px;
  font-size: 18px;
}

.input {
  display: block;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
}

.input:focus {
  outline-color: var(--accentColor);
}
